
.d1
{
    transform: translate(-650px,200px);
}
.d2
{
    transform: translate(-400px,200px);
}
.d3
{
    transform: translate(-100px,200px);
}
.heading
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 3px gray;
    font-family: Arial, Helvetica, sans-serif;
    
}
.head1
{
    text-shadow: 2px 2px 3px gray;
}