.div1
{
background-image: url(../../imagees/book.png);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}
.div2
{
background-image: url(../../imagees/book1.png);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}
.div3
{
background-image: url(../../imagees/book3.png);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}
.div4
{
background-image: url(../../imagees/book4.png);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}